.footer {
  &__wrap {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
  }

  &__logo--hiden {
    display: none;
  }

  &-list {
    display: flex;
    justify-content: space-between;
    width: 70%;
  }

  &__item--list {
    display: flex;
    flex-direction: column;
    height: 90px;
    justify-content: space-around;
  }

  &__item--contact {
    height: 60px;
  }

  &__media {
    display: flex;
    flex-direction: column;
    height: 90px;
    justify-content: space-between;
  }

  &__networks {
    display: flex;
    justify-content: space-around;
  }

  &__item--large {
    @include text-decoration(22px, 33px, $regular-weight, $title-color);
  }

  &__item--small {
    @include text-decoration(16px, 32px, $regular-weight, $main-text-color);
  }

  &__contact--small a {
    @include text-decoration(16px, 32px, $regular-weight, $main-text-color);
    text-decoration: none;
  }

  &__media-wrights {
    @include text-decoration(14px, 21px, $regular-weight, $main-text-color);
  }
}