
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  width: 90%;
  margin: 0 auto;

  &-menu {
    display: flex;
    justify-content: space-around;
    width: 35%;
  }

  &-links {
    @include text-decoration(15px, 23px, $regular-weight, $title-color);
    text-decoration: none;

    &:hover {
      font-weight: 550;
      transition: 0.2s;
    }
  }

  &-right-side {
    display: flex;
    align-items: center;
  }

  &-burger {
    display: none;
    height: 220px;
    background-color: #F5F5F5;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    left: 0;
    right: 0;
    top: 63px;
    z-index: 2;
    margin: 0 auto;

    li {
      text-align: center;
    }
  }

  .nav-links:hover {
      transition: 0.5s;
  }

}

.access-btn {
  margin-left: 25px;
  width: 150px;
  height: 40px;
  background-color: #0013FF;
  @include text-decoration(15px, 22px, 600, #fff);
  border-radius: 25px;
  @include flex-center;
}

.access-btn:hover {
  background-color: $main-text-color;
  cursor: pointer;
  transition: 1s;
}


.header__burger {
  cursor: pointer;
  display: none;
  background-color: $title-color;
  width: 45px;
  height: 35px;
  margin: auto;
  position: relative;
}

.menuShow {
  display: flex;
  transition: 5s;

  animation-name: show-menu;
  animation-duration: 1s;
}

@keyframes show-menu {
  0% {
    top: -150px;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.nav-links-access {
  @include text-decoration(24px, 26px, 600, $button-bg-color);
}