@media screen and (max-width: 1200px) {

  .nav-menu {
    width: 50%;
  }

  .section .section__text-side {
    justify-content: space-around;
    position: static;
  }

  .section__woman {
    position: static;
  }

  .center-left-line,
  .center-right-line,
  .center-pic,
  .section__decor {
    display: none;
  }
}

@media screen and (max-width: 900px) {

  .first__left-side-decor,
  .first__right-side-decor,
  .seven-left-side {
    display: none;
  }

  .section__title {
    font-size: 30px;
    line-height: 40px;
  }

  .section__text {
    font-size: 12px;
    line-height: 20px;
    padding: 0 5px;
  }

  .seven__right-side {
    padding: 0 20px;
  }

  .seven-right-side {
    width: 100%;
    height: auto;
    align-items: center;
    padding: 0 5px;
  }

  .footer__item--large {
    font-size: 18px;
    line-height: 25px;
  }

  .footer__item--small {
    font-size: 14px;
    line-height: 20px;
  }

  .footer__contact--small a {
    font-size: 14px;
    line-height: 20px;
  }

  .footer__media-wrights {
    font-size: 10px;
    line-height: 15px;
  }

}


@media screen and (max-width: 760px) {
  .nav-menu,
  .header__burger--hidden,
  .access-btn,
  .seven__apply,
  .nav .language {
    display: none;
  }

  .first {
    height: 820px;
    padding-top: 40px;
  }

  .first__right-side-pic,
  .first__left-side-pic {
    position: static;
    margin-top: 35px;
  }

  .first-pics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .first {
    .main-slogan-sm {
      color: #040062;
      font-size: 40px;
      font-weight: 900;
      line-height: 30px;
    }

    .main-slogan-mid {
      color: #040062;
      font-size: 60px;
      font-weight: 900;
      line-height: 60px;
    }

    .main-slogan-lr {
      color: #040062;
      font-size: 90px;
      font-weight: 900;
      line-height: 100px;
    }
  }

  .nav {
    justify-content: center;
  }

  .header__burger {
    display: block;
    margin: 0;
  }

  .nav-logo {
    width: 50%;
  }

  .section {
    flex-direction: column;
    margin-top: 0;
    height: 990px;
  }

  .second,
  .four,
  .six {
  flex-direction: column-reverse;
  }

  //.section .section__text-side,
  .section .section__picture-side {
    width: 100%;
    align-items: center;
    padding: 10px 0;
  }

  .section .section__text-side {
    width: 100%;
    align-items: center;
    justify-content: space-around;
  }

  .seven__right-form {
    margin: 15px 0;
  }

  .footer__item--large {
    font-size: 12px;
    line-height: 14px;
  }

  .footer__item--small {
    font-size: 10px;
    line-height: 14px;
  }

  .footer__contact--small a {
    font-size: 10px;
    line-height: 14px;
  }

  .footer__media-wrights {
    font-size: 8px;
    line-height: 10px;
  }

  .footer__logo--hiden {
    display: block;
    text-align: center;
    margin-top: 20px;
  }

  .footer-item:first-child {
    display: none;
  }

  .footer__wrap {
    padding-top: 20px;
  }
}

@media screen and (max-width: 400px) {

  .first {
    height: 730px;
  }

  .access-btn {
    width: 100px;
    height: 20px;
    font-size: 10px;
    line-height: 15px;
    font-weight: 400;
    border-radius: 25px;
  }

  .first {
    .main-slogan-sm {
      color: #040062;
      font-size: 20px;
      font-weight: 900;
      line-height: 25px;
    }

    .main-slogan-mid {
      color: #040062;
      font-size: 40px;
      font-weight: 900;
      line-height: 50px;
    }

    .main-slogan-lr {
      color: #040062;
      font-size: 70px;
      font-weight: 900;
      line-height: 80px;
    }
  }

  .first__left-side-pic,
  .first__right-side-pic {
    max-width: 300px;
    height: auto;
  }

  .section__title {
    font-size: 20px;
    line-height: 30px;
  }

  .section__text {
    font-size: 10px;
    line-height: 15px;
  }

  .seven-right-email {
    width: 125px;
    height: 25px;
    font-size: 10px;
    line-height: 20px;
  }

  .seven-submit {
    width: 60px;
    font-size: 12px;
    line-height: 20px;
  }

  .footer__wrap {
    justify-content: space-around;
  }

  .footer-list {
    flex-direction: column;
    width: auto;
  }

  .footer__item--list {
    height: 50px;
    justify-content: flex-start;
  }
}