
@mixin text-decoration ($font-size, $line-hight, $font-weight, $color) {
  font-size: $font-size;
  line-height: $line-hight;
  font-weight: $font-weight;
  color: $color;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin section-position {
  height: 650px;
  display: flex;
  position: relative;
}

@mixin section-title-decor {
  @include text-decoration ($section-title-size, $section-title-line-height, $super-bold-weight, $title-color);
  text-align: center;
}

@mixin section-text-decor {
  @include text-decoration ($regular-text-size, $section-text-line-height, $regular-weight, $main-text-color);
}

@mixin section-text-side {
  width: 50%;
  height: 100%;
  @include flex-center;
  flex-direction: column;
}

@mixin section-picture-side {
  width: 50%;
  height: 100%;
  @include flex-center;

  img {
    z-index: 2;
  }
}

