.five {
  @include section-position;

  &__left-title {
    @include section-title-decor;
    position: relative;
    z-index: 3;
  }

  &__left-text {
    @include section-text-decor;
    position: relative;
    z-index: 3;
    text-align: center;
  }

  &__center-woman {
    position: absolute;
    bottom: 0;
    left: 489px;
    z-index: 2;
  }

  &__center-decor {
    position: absolute;
    bottom: 16px;
    left: 495px;
    z-index: 1;
  }
}

.section__text-side {
  @include section-text-side;
}

.section__picture-side {
  @include section-picture-side;
}

.section__picture-side--blue {
  background-color: $blue-bg-color;
}
