.second {
  @include section-position;
  margin-top: 60px;

  &__center-woman {
    position: absolute;
    bottom: 0;
    left: 440px;
    z-index: 1;
  }

  &__center-decor {
    position: absolute;
    left: 350px;
    bottom: 20px;
    z-index: 0;
  }

  &__right-title {
    @include section-title-decor;
  }

  &__right-text {
    @include section-text-decor;
    max-width: 488px;
    margin: 0 auto;
    position: relative;
    z-index: 3;
  }
}

.section__picture-side {
  @include section-picture-side;
}

.section__picture-side--pink {
  background-color: $pink-bg-color;
}

.section__text-side {
  @include section-text-side;
}

