.three {
  @include section-position;

  &__left-title {
    @include section-title-decor;
    position: relative;
    z-index: 2;
  }

  &__left-text {
    @include section-text-decor;
    text-align: center;
  }

  &__center-woman {
    position: absolute;
    max-width: 320px;
    height: auto;
    bottom: -22px;
    left: 437px;
    z-index: 1;
  }

  &__center-decor {
    position: absolute;
    bottom: 226px;
    left: 546px;
    z-index: 1;
  }
}

.section__picture-side {
  @include section-picture-side;
}

.section__text-side {
  @include section-text-side;
}

.section__picture-side--blue {
  background-color: $blue-bg-color;
}

