.first {
  width: 100%;
  height: 640px;
  background-color: $blue-bg-color;
  padding-top: 80px;
  position: relative;


  .main-slogan {
    text-align: center;

    &-sm {
      @include text-decoration (60px, 80px, $super-bold-weight, $title-color);
    }

    &-mid {
      @include text-decoration (80px, 110px, $super-bold-weight, $title-color);
    }

    &-lr {
      @include text-decoration (110px, 150px, $super-bold-weight, $title-color);
      position: relative;
      z-index: 1;
    }
  }

  &__left-side-pic {
    position: absolute;
    bottom: -20px;
    left: 20px;
    z-index: 1;
  }

  &__left-side-decor {
    position: absolute;
    bottom: 10px;
    left: 65px;
    z-index: 0;
  }

  &__right-side-pic {
    position: absolute;
    bottom: -20px;
    right: 20px;
    z-index: 1;
  }

  &__right-side-decor {
    position: absolute;
    bottom: 15px;
    right: 50px;
    z-index: 0;
  }


  .center-left-line {
    position: absolute;
    bottom: 150px;
    left: 365px;
  }

  .center-pic {
    position: absolute;
    bottom: 120px;
    left: 580px;
  }

  .center-right-line {
    position: absolute;
    bottom: 150px;
    left: 640px;
  }
}


