.four {
  @include section-position;

  &__right-title {
    @include section-title-decor;
    position: relative;
    z-index: 3;
  }

  &__right-text {
    @include section-text-decor;
    text-align: center;
    position: relative;
    z-index: 3;
  }

  &__center-woman {
    position: absolute;
    bottom: 0;
    left: 484px;
    z-index: 1;
  }

  &__center-decor {
    position: absolute;
    bottom: 4px;
    left: 274px;
    z-index: 0;
  }
}

.section__picture-side {
  @include section-picture-side;
}

.section__text-side {
  @include section-text-side;
}

.section__picture-side--pink {
  background-color: $pink-bg-color;
}

