.seven {
  height: auto;
  display: flex;
  align-items: center;
  position: relative;

  &-left-side {
    width: 30%;
    height: 100%;
    @include flex-center;
    z-index: 1;
  }

  &-left-woman {
    position: absolute;
    bottom: 80px;
  }

  &-right-side {
    width: 70%;
    height: 400px;
    background-color: #F5FBFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 25px;
    position: relative;
    z-index: 0;
  }

  &__apply {
    position: absolute;
    top: -30px;
    right: 120px;
  }

  &__right-title {
    @include section-title-decor;
  }

  &__right-text {
    @include section-text-decor;
    margin: 25px 0;
  }

  &__right-form {
    display: flex;
  }

  &-right-email {
    width: 200px;
    height: 30px;
    border-radius: 15px;
    color: $main-text-color;
    font-size: 14px;
    line-height: 21px;
    border: none;
    padding-left: 10px;
  }

  &-submit {
    background-color: $button-bg-color;
    width: 80px;
    border: none;
    border-radius: 20px;
    @include text-decoration(14px, 24px, $bolt-weight, #fff);
    margin-left: 25px;
  }

  &-submit:hover {
    background-color: $main-text-color;
  }

  &-right-link-text {
    @include text-decoration(13px, 20px, $regular-text-size, $main-text-color);
    margin-top: 25px;
  }

  &-right-link {
    color: $main-text-color;
  }

}

.seven-underline {
  background-color: $blue-bg-color;
  width: 100%;
  height: 1px;
  margin-top: 20px;
}

