$main-text-color: #6D758D;
$title-color: #040062;
$button-bg-color: #0013FF;
$pink-bg-color: #FEF1EF;
$blue-bg-color: #C7E3E9;

$regular-text-size: 18px;
$section-title-size: 48px;

$section-title-line-height: 60px;
$section-text-line-height: 27px;


$regular-weight: 400;
$bolt-weight: 700;
$super-bold-weight: 900;
